rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only read and write their own data.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }

    // Explicitly deny access to unauthenticated users.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
